/* Reset básico */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',Arial, Helvetica, sans-serif;
}

body {
  background-color: #f6f6f6;
  color: #222;
}



/* NAVBAR */
.navbar {
  background-color: #ffffff;
  padding: 12px 0;
  height: 150px;
  display: flex ;
  align-items: center;
}

.navbar-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: #1e1e1e;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.fav-container {
    display: flex;
    align-items: end;
    margin-bottom: 25px;
    transition: all 0.5s ease;
}

.fav-container:hover{
  transform: scale(1.05);
}

.fav-img {
    width: auto;  /* ajustá a lo que quieras */
    height: 80px;
    object-fit: contain;
    margin-right: 3px;
}

.fav-text {
    line-height: 1em; /* para juntar o separar líneas */
    margin: 0;
    font-size: 15pt;
    transform: translateY(2px);
    color: #1e1e1e;
    letter-spacing: -1px;
}

.navbar-brand:hover {
  color: #fff;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-user {
  color: #fff;
  margin-right: 15px;
  font-size: 0.95rem;
}

/* Botones */
.btn {
  background-color: transparent;
  border: 2px solid #EF8D00;
  color: #EF8D00;
  padding: 12px 12px;
  border-radius: 10px;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: #EF8D00;
  color: #fff;
  transform: scale(1.05);
}

/* Margen secundario */
.ms {
  margin-left: 6px;
}

/* Container genérico */
.container {
  max-width: 100vw;
}
