:root {
  --header-height: 150px;
}

body {
  background: #EEEEEE;
  font-family: Arial, sans-serif;
  width: 100vw;
  height: calc(100vh - var(--header-height) - 50px);
}

.container-container{
  height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container{
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(30,30,30,0.2);
  width: 400px;
  animation: fadeIn 0.5s ease forwards;
  height: 500px;
}

.register-container h2 {
color: #EF8D00;
margin-bottom: 20px;
text-align: center;

}

.form-label {
display: block;
text-align: left;
font-weight: bold;
margin-bottom: 5px;
transition: all 0.3s ease;
}

.form-control, .form-select {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 8px;
margin-bottom: 15px;
transition: border-color 0.3s ease;
}

.form-control:focus, .form-select:focus {
outline: none;
border-color: #EF8D00;
box-shadow: 0 0 5px rgba(239,141,0,0.5);
}

.btn-submit {
  margin-top: 20px;
background: #EF8D00;
font-size: large;
border: none;
color: #fff;
font-weight: bold;
padding: 16px;
border-radius: 8px;
cursor: pointer;
width: 100%;
transition: background 0.3s ease;
}

.btn-submit:hover {
background: #d97c00;
}

.form-text {
font-size: 12px;
color: #666;
margin-top: -10px;
margin-bottom: 10px;
text-align: left;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
} 